{% comment %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <title>Book E-commerce</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>





<div class="container-fluid">

 <br>
 <div class="well">
  <h1 align="center">Management Book</h1>
 </div>

  <div class="row">
    <div class="col-sm-2" style="background-color:lavender; ">
        <br>
        <div class="well">
            <h2>Menu</h2>
                 <ul class="nav nav-pills nav-stacked">
                     <li><a href="../">Home</a></li>
                     <li class="active"><a href="">Manage Book</a></li>
                 </ul>
        </div>

    </div>

    <div class="col-sm-10" style="background-color:lavenderblush;">
{#        <form action="/action_page.php">#}
{#            First name:<br>#}
{#            <input type="text" name="Bookname" value="Mickey">#}
{#            <br>#}
{#            Last name:<br>#}
{#            <input type="text" name="lastname" value="Mouse">#}
{#            <br><br>#}
{#            <input type="submit" value="Submit">#}
{#</form>#}

    </div>

  </div>
</div>


</body>
</html>






{% endcomment %}

{##}
{##}
{#<form method="POST" action="">#}
{#    {% csrf_token %}#}
{#    {{ form }}#}
{#    <input type="submit" value="save">#}
{#</form>#}